<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.tanghuibo.github.springmultiplemybatis.mapper.three.ThreeMapper">

    <insert id="insertTest">
        insert test_table(name) values ('three_test');
    </insert>

    <select id="selectTest" resultType="java.lang.String">
        select 'three' from dual
    </select>

</mapper>